@font-face {
	font-family: Montserrat;
	font-weight: $font-weight-regular;
	font-display: swap;
	src:
		local("Montserrat Regular"),
		local("Montserrat-Regular"),
		url(../fonts/Montserrat-Regular.woff2) format("woff2"),
		url(../fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
	font-family: Montserrat;
	font-weight: $font-weight-bold;
	font-display: swap;
	src:
		local("Montserrat Bold"),
		local("Montserrat-Bold"),
		url(../fonts/Montserrat-Bold.woff2) format("woff2"),
		url(../fonts/Montserrat-Bold.woff) format("woff");
}

@font-face {
	font-family: Axis;
	font-weight: $font-weight-bold;
	font-display: swap;
	src:
		local("Axis"),
		url(../fonts/Axis.woff2) format("woff2"),
		url(../fonts/Axis.woff) format("woff");
}

@font-face {
	font-family: Streetwear;
	font-weight: $font-weight-regular;
	font-display: swap;
	src:
		local("Streetwear"),
		url(../fonts/Streetwear.woff2) format("woff2"),
		url(../fonts/Streetwear.woff) format("woff");
}
