/**
 * Styles for the section block
 */
.section {
	// Selector styles
	padding: 4.375em 0;

	// @media queries
	@media screen and (min-width: 60em) {
		padding-bottom: 6.25em;
		padding-top: 6.25em;
	}

	// Pseudo-classes and pseudo-elements
	// TODO: add code

	// Nested selectors
	+ .section {
		border-top: 1px solid $color-gallery;
	}

	// BEM elements
	&__inner {
		margin: 0 auto;
		max-width: 32.5em;
		padding: 0 0.625em;

		@media screen and (min-width: 48em) {
			align-items: center;
			display: flex;
			justify-content: space-between;
			max-width: 57.5em;
		}
	}

	&__images {
		@media screen and (min-width: 48em) {
			flex: 0 1 31.25em;
		}
	}

	&__content {
		margin-top: 4em;

		@media screen and (min-width: 48em) {
			flex: 1 0 19.375em;
			margin-left: 2.5em;
			margin-top: 0;
		}

		@media screen and (min-width: 60em) {
			margin-left: 3.75em;
		}

		@media screen and (min-width: 75em) {
			margin-left: 5em;
		}
	}

	&__text {
		margin-top: 2em;
	}

	&__read-more {
		display: inline-block;

		color: $color-primary;
		font-size: 2.5rem;
		font-weight: $font-weight-bold;
		letter-spacing: 0.1em;
		text-decoration: none;

		border-radius: 2px;

		transition: color 0.2s linear;

		&:hover {
			color: $color-secondary;
		}

		.focus-utility &:focus {
			box-shadow: 0 0 0 0.1em rgba($color-focus, 0.5);
		}
	}

	// BEM modifiers
	&_reverse {
		.section__inner {
			@media screen and (min-width: 48em) {
				flex-direction: row-reverse;
			}
		}

		.section__content {
			text-align: right;

			@media screen and (min-width: 48em) {
				margin-left: 0;
				margin-right: 3.75em;
			}

			@media screen and (min-width: 60em) {
				margin-right: 5em;
			}
		}
	}
}
