/**
 * Styles for the call to action block
 */
.cta {
	// Selector styles
	padding: 6.25em 0;

	background: {
		color: $color-tundora;
		position: center;
		repeat: no-repeat;
		size: cover;
	}

	// @media queries
	@media screen and (min-width: 48em) {
		padding-bottom: 4.75em;
		padding-top: 4.75em;
	}

	// Pseudo-classes and pseudo-elements
	// TODO: add code

	// Nested selectors
	// TODO: add code

	// BEM elements
	&__inner {
		margin: 0 auto;
		max-width: 75em;
		padding: 0 0.625em;

		text-align: center;
	}

	&__btn {
		width: 15.5em;
	}

	// BEM modifiers
	// TODO: add code
}
